* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 12px;
}

img {
	vertical-align: middle;
	border: none;
}

input {
	border: none;
	/* outline: none; */
}

a {
	
	text-decoration: none;
	color: #000;
}

i {
	font-style: normal;
}

li {
	list-style: none;
}

body {
	font-size: 12px;
	line-height: 1;
	background-color: #f5f5f5;
}

.clearfix::after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}
